/* Style your js generated items here: */


/*****************************/
/* Table of Contents Service */
/*****************************/
.header .modal-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.85);
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 3;
}

.modal-content {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  width: max-content;
  max-height: 75vh;
  overflow: scroll;
  scroll-behavior: smooth;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  background-color: #ffffff;
  margin-bottom: 2em;
  -webkit-box-shadow: 0px 0px 10px 0px #D8D8D8;
  box-shadow: 0px 0px 10px 0px #D8D8D8;
}

@media only screen and (max-width: 425px) {
  .modal-content {
    min-width: 95vw;
    max-width: 95vw;
    max-height: 65vh;
  }
}

div.accordeon-chapter {
  width: fit-content;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 0.1em;
  font-size: 1em;
  border-radius: 3px;
}

div.accordeon-chapter a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}

div.accordeon span:after {
  content: url('./assets/js-img/table_of_contents_service/explode.svg');
  display: inline-block;
  height: 0.9em;
  width: 0.9em;
  padding-right: 0.5em;
}

div.accordeon span.is-open:after {
  content: url('./assets/js-img/table_of_contents_service/implode.svg');
  display: inline-block;
  height: 0.9em;
  width: 0.9em;
  padding-right: 0.5em;
}

div.modal-container #close-modal-btn {
  content: url('./assets/js-img/table_of_contents_service/close.svg');
  height: 3em;
  width: 3em;
  /* position: absolute; */
  flex-basis: 100%;
  z-index: 99;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 2em;
  margin-top: 2em;
}

div.header #open-modal-btn {
  position: fixed;
  content: url('./assets/js-img/table_of_contents_service/open.svg');
  display: block;
  height: 3em;
  width: 3em;
  top: 5%;
  right: 1em;
  z-index: 5;
  opacity: 0.1;
  transition: all 500ms;
  -webkit-transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -o-transition: opacity 500ms linear;
  /* -webkit-tap-highlight-color: transparent; */
}

div.accordeon {
  background: #E5E5E5;
}

.accordeon-content {
  padding-left: 1em;
  max-height: 0;
  overflow: hidden;
  border-left: 1px solid #E5E5E5;
}

/*****************************/
/* Other Service */
/*****************************/